* {
  box-sizing: border-box;
}

body {
  background-image: url(background%20graphics/crumpled.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #1c338e;
}

a:hover {
  color: rgb(75, 0, 130);
}

a:active {
  color: rgb(75, 0, 130);
}

/** header styling **/
#Bedzyk-group-banner {
  background-color: #250b54;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.top-banner {
  height: 120px;
}
#line1 {
  height: 18px;
}
#line2 {
  height: 6px;
}
#line3 {
  height: 10px;
}

#main-navigation {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.navlink {
  margin: 5px;
  font-size: larger;
}
.navlink-active {
  margin: 5px;
  font-size: larger;
  color: rgb(75, 0, 130);
}
.navlink:hover {
  color: rgb(75, 0, 130);
}
.navlink:active {
  color: rgb(75, 0, 130);
}

/* on mobile only */
@media only screen and (max-width: 768px) {
  .top-banner {
    height: 65px;
  }
  #line1 {
    height: 9px;
  }
  #line2 {
    height: 3px;
  }
  #line3 {
    height: 5px;
  }
  .navlink {
    margin: 3px;
  }
  .navlink-active {
    margin: 3px;
  }
}

h3 {
  margin-bottom: 8px;
}

h4 {
  margin-bottom: 0;
}

footer {
  font-size: x-small;
  font-weight: bold;
  margin: 16px;
}

.image_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#message207673404 {
  padding-right: 0pt;
  padding-left: 0pt;
  padding-bottom: 0.8em;
  margin: 1em 0pt;
  color: #000;
  padding-top: 0.8em;
  position: relative;
}

#message207673404 DIV.plainMail {
  font-size: 100%;
  margin: 1em 0pt;
  font-family: monospace;
}

#message1370509039 {
  padding-right: 0pt;
  padding-left: 0pt;
  padding-bottom: 0.8em;
  margin: 1em 0pt;
  color: #000;
  padding-top: 0.8em;
  position: relative;
}

#message1370509039 DIV.plainMail {
  font-size: 100%;
  margin: 1em 0pt;
  font-family: monospace;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/** For publications page **/
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* Float the list items side by side */
ul.tab li {
  display: table-cell;
}

/* Style the links inside the list items */
ul.tab li a {
  display: block;
  background-color: #d3d3d3;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 6px 4px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: #c4a3dbc6;
}

/* Create an active/current tablink class */
ul.tab li a:focus,
.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  background-color: white;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
